<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.yld.artisanDao">
  <resultMap id="artisanVo" type="com.accp.vo.yld.artisanVo">
    <id column="aid" jdbcType="VARCHAR" property="aid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="postName" jdbcType="VARCHAR" property="postName" />
    <result column="groupName" jdbcType="VARCHAR" property="groupName" />
  </resultMap>
  <select id="queryAll" resultMap="artisanVo">
  	SELECT p.`pname` AS `name`,p.`pId` AS aid,p.`ppost` AS postName,w.`bzname` AS groupName
	FROM personnel AS p,workergroup AS w WHERE p.`bzId` = w.`bzId`
  </select>
  <select id="queryById" resultMap="artisanVo">
  	SELECT p.`pname` AS `name`,p.`pId` AS aid,p.`ppost` AS postName,w.`bzname` AS groupName
	FROM personnel AS p,workergroup AS w WHERE p.`bzId` = w.`bzId` AND p.`pId` = #{pid}
  </select>
</mapper>