<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.lc.lcGoodsMapper">
	<resultMap id="LcBaseResultMap"
		type="com.accp.vo.lc.lcGoodsVo">
		<id column="gid" jdbcType="INTEGER" property="gid" />
		<result column="ghsId" jdbcType="INTEGER" property="ghsid" />
		<result column="gname" jdbcType="VARCHAR" property="gname" />
		<result column="gtime" jdbcType="DATE" property="gtime" />
		<result column="gprice" jdbcType="REAL" property="gprice" />
		<result column="gbrand" jdbcType="VARCHAR" property="gbrand" />
		<result column="gsuitable" jdbcType="VARCHAR"
			property="gsuitable" />
		<result column="gtype" jdbcType="VARCHAR" property="gtype" />
		<result column="gdescribe" jdbcType="VARCHAR"
			property="gdescribe" />
		<result column="gnumber" jdbcType="INTEGER" property="gnumber" />
		<collection property="lcSupplier" column="ghsid"
			select="queryByghsid"></collection>
	</resultMap>

	<!-- 根据 gnsId 主详查询商品资料 -->
	<select id="queryall" resultMap="LcBaseResultMap">
		SELECT * FROM `goods`
		 <where>
			<if test="gname!=null">and gname like '%${gname}%'</if>
		</where> 
	</select>
	<select id="queryByid" resultType="com.accp.vo.lc.lcGoodsVo">
		SELECT * FROM `goods` where
		gid=#{gid}
	</select>

	<select id="queryByghsid"
		resultType="com.accp.vo.lc.lcSupplierVo">
		SELECT * FROM `supplier` where ghsId=#{ghsid}
	</select>

</mapper>