<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.lc.lcPersonnelMapper">
	<select id="queryalOrName"
		resultType="com.accp.vo.lc.lcpersonnelVo">
		<!-- 	SELECT * FROM personnel a
		INNER JOIN role b ON a.`ppost`=b.`cid` INNER JOIN `post` c ON
		a.`ppost`=c.`pId` -->
				SELECT a.*,b.`cname`,c.`gwname`,b.`cid` ,c.`pId` AS postid  FROM personnel a
		
		INNER JOIN `uersandrole`  up ON (up.`pId`=a.`pId`)
		INNER JOIN role b ON (b.`cid`=up.`cid`)
		 INNER JOIN `post` c ON a.`ppost`=c.`pId`
		<where>
		a.`pId`!='admin' and  a.pstatic=0
			<if test="pname!=null">
				and  a.pname like '%${pname}%'
			</if>
			
		
			
		</where>
		ORDER BY  a.`pentry` DESC
	</select>
	<!-- 删除 -->
	<delete id="romoveyg">
		delete from personnel where pId=#{pid};
		delete from
		uersandrole where pId=#{pid};

	</delete>

	<insert id="inserss"
		parameterType="com.accp.vo.lc.lcpersonnelVo">
		INSERT INTO `dzw`.`uersandrole` (pId,cid) VALUES(#{a.pId},#{a.cid});
		INSERT
		INTO `dzw`.`personnel` (
		`pId`,`pname`,`psex`,`peducational`,`pentry`,`pphone`,`paddress`,`pidcard`,`pstatic`,`ppwd`,`ppost`

		)
		VALUES
		(
		#{a.pId},#{a.pname},#{a.psex},#{a.peducational},#{a.pentry},#{a.pphone},#{a.paddress},#{a.pidcard},0,#{a.ppwd},#{a.ppost}
		) ;
		<!-- INSERT INTO dzw.`post`(gwid,pId,gwname) VALUES ( #{a.gwid},#{a.pId},#{a.gwname} 
			); -->

	</insert>

	<select id="queryByid" resultType="com.accp.vo.lc.lcpersonnelVo">
	
		SELECT a.*,b.`cname`,c.`gwname` ,b.`cid`,c.`pId` AS postid   FROM personnel a
		
		INNER JOIN `uersandrole`  up ON (up.`pId`=a.`pId`)
		INNER JOIN role b ON (b.`cid`=up.`cid`)
		 INNER JOIN `post` c ON a.`ppost`=c.`pId`
		 where
		a.pId=#{pid}
		<!-- SELECT * FROM personnel a
		INNER JOIN role b ON a.`ppost`=b.`cid` INNER JOIN `post` c ON
		a.`ppost`=c.`pId` where
		a.pId=#{pid} -->

	</select>
</mapper>