<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.lc.lcPersonnelMapper">
	<select id="queryalOrName"
		resultType="com.accp.vo.lc.lcpersonnelVo">
		SELECT p.*,po.`gwname` AS gangwei,r.`cname` AS juesename ,r.`cid` AS
		jid FROM `personnel` p
		INNER JOIN `uersandrole` u ON(u.`pId`=p.`pId`)
		INNER JOIN `role` r ON(r.`cid`=u.`cid`)
		INNER JOIN `post` po ON(po.`pId`=p.`ppost`)
		<where>
			<if test="pname!=null">
				and p.pname like '%${pname}%'


			</if>
		</where>
	</select>
	<!-- 删除 -->
	<delete id="romoveyg">
		delete from personnel where pId=#{pid};
		delete from uersandrole where pId=#{pid};
		delete from userphone where pId=#{pid};
		delete from post where pId=#{pid};
	</delete>

	<select id="queryByid" resultType="com.accp.vo.lc.lcpersonnelVo">
		SELECT p.*,po.`gwname` AS gangwei,r.`cname` AS juesename ,r.`cid` AS jid
		FROM `personnel` p
		INNER JOIN `uersandrole` u ON(u.`pId`=p.`pId`)
		INNER JOIN `role` r ON(r.`cid`=u.`cid`)
		INNER JOIN `post` po ON(po.`pId`=p.`ppost`) where p.pId=#{pid}
	</select>
</mapper>