<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.zyh.ServiceitemMapper">
  <resultMap id="BaseResultMap" type="com.accp.demo.pojo.Serviceitem">
    <id column="xmId" jdbcType="INTEGER" property="xmid" />
    <result column="xnames" jdbcType="VARCHAR" property="xnames" />
  </resultMap>
  <sql id="Base_Column_List">
    xmId, xnames
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from serviceitem
    where xmId = #{xmid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from serviceitem
    where xmId = #{xmid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.demo.pojo.Serviceitem">
    insert into serviceitem (xmId, xnames)
    values (#{xmid,jdbcType=INTEGER}, #{xnames,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.demo.pojo.Serviceitem">
    insert into serviceitem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xmid != null">
        xmId,
      </if>
      <if test="xnames != null">
        xnames,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xmid != null">
        #{xmid,jdbcType=INTEGER},
      </if>
      <if test="xnames != null">
        #{xnames,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.demo.pojo.Serviceitem">
    update serviceitem
    <set>
      <if test="xnames != null">
        xnames = #{xnames,jdbcType=VARCHAR},
      </if>
    </set>
    where xmId = #{xmid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.demo.pojo.Serviceitem">
    update serviceitem
    set xnames = #{xnames,jdbcType=VARCHAR}
    where xmId = #{xmid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Serviceitem">
    <id column="xmId" jdbcType="INTEGER" property="xmid" />
    <result column="xnames" jdbcType="VARCHAR" property="xnames" />
  </resultMap>
  <sql id="Base_Column_List">
    xmId, xnames
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from serviceitem
    where xmId = #{xmid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from serviceitem
    where xmId = #{xmid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Serviceitem">
    insert into serviceitem (xmId, xnames)
    values (#{xmid,jdbcType=INTEGER}, #{xnames,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Serviceitem">
    insert into serviceitem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xmid != null">
        xmId,
      </if>
      <if test="xnames != null">
        xnames,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xmid != null">
        #{xmid,jdbcType=INTEGER},
      </if>
      <if test="xnames != null">
        #{xnames,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Serviceitem">
    update serviceitem
    <set>
      <if test="xnames != null">
        xnames = #{xnames,jdbcType=VARCHAR},
      </if>
    </set>
    where xmId = #{xmid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Serviceitem">
    update serviceitem
    set xnames = #{xnames,jdbcType=VARCHAR}
    where xmId = #{xmid,jdbcType=INTEGER}
  </update>
</mapper>