<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.zyh.zyhCustomercarMapper">
  <resultMap id="BaseResultMap" type="com.accp.pojo.Customercar">
    <id column="carid" jdbcType="INTEGER" property="carid" />
    <result column="cidk" jdbcType="VARCHAR" property="cidk" />
    <result column="carlicenceplate" jdbcType="VARCHAR" property="carlicenceplate" />
    <result column="carbrand" jdbcType="VARCHAR" property="carbrand" />
    <result column="carcolor" jdbcType="VARCHAR" property="carcolor" />
    <result column="carconfigure" jdbcType="VARCHAR" property="carconfigure" />
    <result column="carlocality" jdbcType="VARCHAR" property="carlocality" />
    <result column="carmodel" jdbcType="VARCHAR" property="carmodel" />
  </resultMap>
 
</mapper>