<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.zyh.zyhCustomerMapper">
  <resultMap id="BaseResultMap" type="com.accp.pojo.Customer">
    <id column="cidk" jdbcType="VARCHAR" property="cidk" />
    <result column="cnamek" jdbcType="VARCHAR" property="cnamek" />
    <result column="caddressk" jdbcType="VARCHAR" property="caddressk" />
    <result column="csexk" jdbcType="CHAR" property="csexk" />
    <result column="cphonek" jdbcType="VARCHAR" property="cphonek" />
    <result column="cidnumberk" jdbcType="VARCHAR" property="cidnumberk" />
    <result column="ctypek" jdbcType="VARCHAR" property="ctypek" />
    <result column="ckahaok" jdbcType="VARCHAR" property="ckahaok" />
    <result column="cdoublerk" jdbcType="INTEGER" property="cdoublerk" />
    <result column="cmoneyk" jdbcType="REAL" property="cmoneyk" />
    <result column="cgrade" jdbcType="INTEGER" property="cgrade" />
  </resultMap>
  
</mapper>