<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.zyh.zyhEengineMapper">
  <resultMap id="BaseResultMap" type="com.accp.pojo.Eengine">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="ename" property="ename" />
    <result column="eprice" jdbcType="REAL" property="eprice" />
  </resultMap>
  
</mapper>