<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.zyh.zyhGoodsMapper">
  <resultMap id="BaseResultMap" type="com.accp.pojo.Goods">
    <id column="gid" jdbcType="INTEGER" property="gid" />
    <result column="ghsId" jdbcType="INTEGER" property="ghsid" />
    <result column="gname" jdbcType="VARCHAR" property="gname" />
    <result column="gtime" jdbcType="DATE" property="gtime" />
    <result column="gprice" jdbcType="REAL" property="gprice" />
    <result column="gbrand" jdbcType="VARCHAR" property="gbrand" />
    <result column="gsuitable" jdbcType="VARCHAR" property="gsuitable" />
    <result column="gtype" jdbcType="VARCHAR" property="gtype" />
    <result column="gdescribe" jdbcType="VARCHAR" property="gdescribe" />
    <result column="gnumber" jdbcType="INTEGER" property="gnumber" />
  </resultMap>
  
</mapper>