<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.zyh.zyhPersonnelMapper">
   <resultMap id="map1" type="com.accp.vo.zyh.zyhpersonnel_vo">
    <id column="pId" jdbcType="VARCHAR" property="pid" />
    <result column="bzId" jdbcType="INTEGER" property="bzid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="psex" jdbcType="CHAR" property="psex" />
    <result column="peducational" jdbcType="VARCHAR" property="peducational" />
    <result column="pentry" jdbcType="DATE" property="pentry" />
    <result column="pphone" jdbcType="VARCHAR" property="pphone" />
    <result column="paddress" jdbcType="VARCHAR" property="paddress" />
    <result column="pidcard" jdbcType="VARCHAR" property="pidcard" />
    <result column="pstatic" jdbcType="INTEGER" property="pstatic" />
    <result column="ppwd" jdbcType="VARCHAR" property="ppwd" />
    <result column="ppost"  property="ppost" />
     <result column="gwname"  property="gangwei" />
     <result column="cname"  property="juesename" />
    <collection property="list" column="pId" select="queryByIdAndFuction"/>
  </resultMap>
  <select id="queryByIdAndFuction" resultType="com.accp.pojo.Function">
 SELECT f.* FROM `role` r
INNER JOIN `uersandrole` u ON(r.`cid`=u.`cid`)
INNER JOIN `roleandfunction` ro ON(ro.`cid`=r.`cid`)
INNER  JOIN `function` f ON (ro.`fid`=f.`fid`)
WHERE u.`pId`=#{pId}
  </select>
 <select id="querylogin" resultMap="map1">
SELECT p.*, ro.`cname`,po.`gwname`  FROM `personnel` p 
INNER JOIN `uersandrole` uz ON (uz.`pId`=p.`pId`)
INNER JOIN `role` ro ON (ro.`cid`=uz.`cid`)
INNER JOIN `post` po ON (po.`pId`=p.`ppost`)
WHERE p.`pname`=#{name} AND p.`ppwd`=#{pwd} 
 </select>
</mapper>