<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.zyh.zyhPersonnelMapper">
  <resultMap id="BaseResultMap" type="com.accp.demo.pojo.Personnel">
    <id column="pId" jdbcType="VARCHAR" property="pid" />
    <result column="bzId" jdbcType="INTEGER" property="bzid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="psex" jdbcType="CHAR" property="psex" />
    <result column="peducational" jdbcType="VARCHAR" property="peducational" />
    <result column="pentry" jdbcType="DATE" property="pentry" />
    <result column="pphone" jdbcType="VARCHAR" property="pphone" />
    <result column="paddress" jdbcType="VARCHAR" property="paddress" />
    <result column="pidcard" jdbcType="VARCHAR" property="pidcard" />
    <result column="pstatic" jdbcType="INTEGER" property="pstatic" />
    <result column="ppwd" jdbcType="VARCHAR" property="ppwd" />
    <result column="ppost" jdbcType="VARCHAR" property="ppost" />
  </resultMap>
 
 <select id="querylogin">
SELECT p.`pname`,uz.`cid`, ro.`cname`  FROM `personnel` p 
INNER JOIN `uersandrole` uz ON (uz.`pId`=p.`pId`)
INNER JOIN `role` ro ON (ro.`cid`=uz.`cid`)


WHERE p.`pname`='admin' AND p.`ppwd`='admin'
 </select>
</mapper>