<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.zyh.zyhPostMapper">
  <resultMap id="BaseResultMap" type="com.accp.pojo.Post">
    <id column="gwid" jdbcType="INTEGER" property="gwid" />
    <result column="pId" jdbcType="VARCHAR" property="pid" />
    <result column="gwname" jdbcType="VARCHAR" property="gwname" />
  </resultMap>
  
</mapper>