<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.zyh.zyhServicedetailedMapper">
  <resultMap id="BaseResultMap" type="com.accp.pojo.Servicedetailed">
    <id column="sdid" jdbcType="INTEGER" property="sdid" />
    <result column="wId" jdbcType="VARCHAR" property="wid" />
    <result column="sdname" jdbcType="VARCHAR" property="sdname" />
    <result column="sdprice" jdbcType="REAL" property="sdprice" />
    <result column="sdnumber" property="sdnumber" />
  </resultMap>
 
</mapper>