<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.zyh.zyhServiceitemMapper">
  <resultMap id="BaseResultMap" type="com.accp.pojo.Serviceitem">
    <id column="xmId" jdbcType="INTEGER" property="xmid" />
    <result column="xnames" jdbcType="VARCHAR" property="xnames" />
  </resultMap>
  
</mapper>