<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.cqq.HuiyuanjiluMapper" >
  <resultMap id="BaseResultMap" type="com.accp.vo.cqq.Huiyuanjilu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="money" property="money" jdbcType="VARCHAR" />
    <result column="cusid" property="cusid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, time, money, cusid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from huiyuanjilu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from huiyuanjilu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.vo.cqq.Huiyuanjilu" >
    insert into huiyuanjilu (id, time, money, 
      cusid)
    values (#{id,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{money,jdbcType=VARCHAR}, 
      #{cusid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.vo.cqq.Huiyuanjilu" >
    insert into huiyuanjilu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="cusid != null" >
        cusid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="cusid != null" >
        #{cusid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.vo.cqq.Huiyuanjilu" >
    update huiyuanjilu
    <set >
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="cusid != null" >
        cusid = #{cusid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.vo.cqq.Huiyuanjilu" >
    update huiyuanjilu
    set time = #{time,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=VARCHAR},
      cusid = #{cusid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>